In [1]:
import pandas as pd
import os

directory = r'dades/hab_per_pis/'
name_to_save = 'habitants_per_pis.csv'

dfs = []

for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        dfs = dfs + [pd.read_csv(directory + filename)]
        
data = pd.concat(dfs)
data.sort_values('Any', inplace=True)

data.to_csv(name_to_save)

In [33]:
    
for col in df:
    if df[col].dtype == 'object':
        df[col] = pd.Categorical(df[col]).codes
        df[col] = df[col].astype('category')

print(df.dtypes)
df.head(10)

Any                  int64
Codi_Districte       int64
Nom_Districte     category
Codi_Barri           int64
Nom_Barri         category
Seccio_Censal        int64
Import_Euros         int64
dtype: object

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Seccio_Censal,Import_Euros
0,2017,1,0,1,46,1,10614
1,2017,1,0,1,46,2,8155
2,2017,1,0,1,46,3,8179
3,2017,1,0,1,46,4,10250
4,2017,1,0,1,46,5,8159
5,2017,1,0,1,46,6,9543
6,2017,1,0,1,46,7,8948
7,2017,1,0,1,46,8,6991
8,2017,1,0,1,46,9,8450
9,2017,1,0,1,46,10,7697